{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{lessons.name}} {% endblock %}

{% block image_block %}
<header>
  <div id="intro" class="container-fluid">
    <h2 class="text-center fs-1 fw-bold pb-5" style="padding-top: 150px; color: #800080;">Chapter-{{lessons.position}}: {{lessons.name}}</h2>
    <div class="d-flex justify-content-center py-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="font-size:20px;">
          <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none;">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'curriculum:standard_list' %}" style="text-decoration: none;">Curriculum</a></li>
          <li class="breadcrumb-item"><a href="{% url 'curriculum:subject_list' slug=lessons.Standard.slug %}" style="text-decoration: none;">{{lessons.Standard.name}}</a></li>
          <li class="breadcrumb-item"><a href="{% url 'curriculum:lesson_list' standard=lessons.Standard.slug slug=lessons.subject.slug %}" style="text-decoration: none;">{{lessons.subject.name}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{lessons.name}}</li>
        </ol>
      </nav>
    </div>
    <hr class="container" style="color:#800080;">
    <h4 class="container text-center py-4">When you educate one person you can change a life, when you educate many you can change the world.</h4>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="container text-center">
  <h2 class="text-center mt-5 pb-1 fw-bold" style="color: #800080;">Lecture Details</h2>
  <blockquote class="blockquote mt-0">
    <footer class="blockquote-footer">Created on {{lessons.created_at}} by <cite title="Source Title">{{lessons.created_by}}</cite></footer>
  </blockquote>
  <div class="d-flex justify-content-center mb-3">
    <div id="video-player">
      <video controls>
        <source src="{{lessons.video.url}}"  type="video/mp4">
      </video>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 downloadcards justify-content-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Download Presentations</h5>
          {% if lessons.ppt %}
          <p class="card-text">Download presentations from the lecture</p>
          <a href="{{lessons.ppt.url}}" download><button type="button" class="btn btn-info mt-2">Get Files</button></a>
          {% else %}
          <p class="card-text" > No PPT available</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Download Notes</h5>
          {% if lessons.Notes %}
          <p class="card-text">Download Notes from the lecture</p>
          <a href="{{lessons.Notes.url}}" download><button type="button" class="btn btn-info mt-2">Get Files</button></a>
          {% else %}
          <p class="card-text" > Notes not available</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Download Video</h5>
          <p class="card-text">Download Video from the lecture</p>
          <a href="{{lessons.video.url}}" download><button type="button" class="btn btn-info mt-2">Get Files</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    {% if user.userprofileinfo.user_type == 'teacher' or user.is_superuser %}
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
      <div class="col mt-3">
        <a href="{% url 'curriculum:lesson_update' standard=lessons.Standard.slug subject=lessons.subject.slug slug=lessons.slug %}" class="btn btn-warning btn-lg mr-4">Update Lesson</a>
      </div>
      <div class="col mt-3">
        <a href="{% url 'curriculum:lesson_delete' standard=lessons.Standard.slug subject=lessons.subject.slug slug=lessons.slug %}" class="btn btn-danger btn-lg mr-4"> Delete Lesson </a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<hr class="my-5" style="color:#800080;">
<div class="container mb-4">
  <h2 class="text-center mt-5 pb-1 fw-bold" style="color: #800080;">Questions And Queries</h2>
  <h4 class="mt-2" style="color: #800080;">Post your comment or question below:</h4>
  <div class="container row mt-5">
    <div class="col-md-6">
      <form method="post">
        <div class="form-group">
          {% csrf_token %}
          {{form|crispy}}
          <input type="submit" name="form" value="Add Comment" class="btn btn-primary btn-sm mt-2">
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-4 mb-5">
    {% for comment in lessons.comments.all %}
        <div class="col-md-8 mt-2 mb-2">
          <div class="d-flex border px-4 py-4">
            <img src="{% static 'Images/user_avatar.png' %}" alt="John Doe" class="me-3 rounded-circle" style="width:60px; height:60px;">
          <div>
            <h4>{{comment.author}} <small><i>Posted on {{comment.date_added}}</i></small></h4>
            <p>{{comment.body}}</p>
            {% for reply in comment.replies.all %}
                <div class="d-flex mt-4">
                  <img src="{% static 'Images/user_avatar.png' %}" alt="Jane Doe" class="rounded-circle me-3" style="width:45px; height:45px;">
                  <div>
                    <h5>{{reply.author}} <small><i>Posted on {{reply.date_added}}</i></small></h5>
                    <p>{{reply.reply_body}}</p>
                  </div>
               </div>
            {% endfor %}
            <form method="post" class="mt-3">
                  <input type="hidden" name="comment.id" value="{{comment.id}}">
                  <input type="hidden" name="comment.comm_name" value="{{comment.comm_name}}">
                  {% csrf_token %}
                  {{form2.as_p}}
                  <input type="submit" name="form2" value="Add Reply" class="btn btn-warning btn-sm">
            </form>
         </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{%endblock%}
