{% extends 'base.html' %}
{% load static %}
{% block title %} {{subjects.name}} {% endblock %}

{% block image_block %}
<header>
  <div id="intro" class="container-fluid">
    <h2 class="text-center fs-1 fw-bold pb-5" style="padding-top: 150px; color: #800080;">{{subjects.name}}</h2>
    <div class="d-flex justify-content-center py-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="font-size:20px;">
          <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none;">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'curriculum:standard_list' %}" style="text-decoration: none;">Curriculum</a></li>
          <li class="breadcrumb-item"><a href="{% url 'curriculum:subject_list' slug=subjects.standard.slug %}" style="text-decoration: none;">{{subjects.standard}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Chapters</li>
        </ol>
      </nav>
    </div>
    <hr class="container" style="color:#800080;">
    <h4 class="container text-center py-4">When you educate one person you can change a life, when you educate many you can change the world.</h4>
  </div>
</header>
{% endblock %}


{% block content %}
<div class="container">
  <h2 class="text-center mt-5 pb-4 fw-bold" style="color: #800080;">Dive Deeper</h2>
  <p class="text-center" style="font-size:18px;">Get all the Chapters of this Subject.</p>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
    {% for lesson in subjects.lessons.all %}
    <div class="col">
      <div class="card text-center p-3 chaptercards">
        <h3 class="card-title mb-0" style="color: #800080; padding-top:15px; padding-bottom:0px;">Chapter-{{lesson.position}}: {{lesson.name}}</h3>
        <div class="card-body p-0">
          <a href="{% url 'curriculum:lesson_detail' slug=lesson.slug subject=subjects.slug standard=lesson.Standard.slug %}" >
          <button type="button" class="btn btn-lg btn-info" style="margin-top:20px;">Get Lectures</button>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="d-flex justify-content-center mb-3">
    {% if user.userprofileinfo.user_type == 'teacher' or user.is_superuser %}
     <a href="{% url 'curriculum:lesson_create' standard=subjects.standard.slug slug=subjects.slug %}"><button type="button" class="btn btn-success btn-lg mt-5"> Add new Lesson </button> </a>
    {% endif %}
  </div>
</div>
{%endblock%}
