{% extends 'base.html' %}
{% load static %}
{% block title %} Subjects {% endblock %}

{% block image_block %}
<header>
  <div id="intro" class="container-fluid">
    <h2 class="text-center fs-1 fw-bold pb-5" style="padding-top: 150px; color: #800080;">Subjects</h2>
    <div class="d-flex justify-content-center py-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="font-size:20px;">
          <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none;">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'curriculum:standard_list' %}" style="text-decoration: none;">Curriculum</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{standards.name}}</li>
        </ol>
      </nav>
    </div>
    <hr class="container" style="color:#800080;">
    <h4 class="container text-center py-4">When you educate one person you can change a life, when you educate many you can change the world.</h4>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="container text-center">
  <h2 class="text-center mt-5 pb-4 fw-bold" style="color: #800080;">Master The Subject</h2>
  <p class="text-center" style="font-size:18px;">Get your class Time-Table and Subjects here</p>
  <h4 style="color: #800080;">Time-Table</h4>
  <div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <th>Day/Time</th>
      {% for slot in slots %}
        <td scope="row">{{slot.start_time}}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>Monday</th>
      {%for slot in standards.standard_slots.all%}
        {%if slot.day.id == 1 %}
          <td>{{slot.slot_subject}}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th>Tuesday</th>
      {%for slot in standards.standard_slots.all%}
        {%if slot.day.id == 2 %}
          <td>{{slot.slot_subject}}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th>Wednesday</th>
      {%for slot in standards.standard_slots.all%}
        {%if slot.day.id == 3 %}
          <td>{{slot.slot_subject}}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th>Thursday</th>
      {%for slot in standards.standard_slots.all%}
        {%if slot.day.id == 4 %}
          <td>{{slot.slot_subject}}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th>Friday</th>
      {%for slot in standards.standard_slots.all%}
        {%if slot.day.id == 5 %}
          <td>{{slot.slot_subject}}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th>Saturday</th>
      {%for slot in standards.standard_slots.all%}
        {%if slot.day.id == 6 %}
          <td>{{slot.slot_subject}}</td>
        {% endif %}
      {% endfor %}
    </tr>
  </table>
  </div>
</div>
<div class="container my-5">
  <div class="row row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
    {% for subject in standards.subjects.all %}
    <div class="col text-center">
      <div class="card mb-3 subjectcards" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{subject.image.url|default_if_none:'#'}}" class="card-img rounded-star" alt="No image found" style="width:100%; height:200px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title fs-3" style="color:#ff5722;">{{subject.name}}</h5>
              <p class="card-text">{{subject.description|truncatechars:75}}</p>
              <a href="{% url 'curriculum:lesson_list' slug=subject.slug standard=standards.slug %}"><button class="btn btn-lg btn-info mt-3"> Get Lessons</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{%endblock%}
