{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Contact Us {% endblock %}

{% block image_block %}
<header>
  <div id="intro" class="container-fluid">
    <h2 class="text-center fs-1 fw-bold pb-5" style="padding-top: 150px; color: #800080;">Contact Us</h2>
    <div class="d-flex justify-content-center py-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="font-size:20px;">
          <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none;">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Contact(Feedback)</li>
        </ol>
      </nav>
    </div>
    <hr class="container" style="color:#800080;">
    <h4 class="container text-center py-4">Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do.</h4>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="container text-center mt-5">
  <h2 class="pb-5 fw-bold" style="color: #800080;">Did We Impress You?</h2>
  <p class="text-center">Do let our team know what you feel about our school system, faculty, courses, time-table etc.
        Your feedback or comments will be valuable to the team. Your feedback will be considered for proper functioning of school.</p>
  <div class="d-flex justify-content-center py-4">
    <form method="post">
      <div class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Submit Response" class="btn btn-success btn-lg" style="margin-top:20px;">
      </div>
    </form>
  </div>
</div>
{% endblock %}
